<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Series
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>17 de dezembro de 1989</ion-card-subtitle>
      <ion-card-title>Os Simpsons</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/9fSGtPOp3MlFfynLEjYjlOfenbk.jpg">
      <p>
        A família Simpsons mora na cidade de Springfield, uma cidade americana como qualquer outra. Homer trabalha como
        inspetor de segurança numa usina de energia nuclear.…
      </p>
      <ion-button expand="block" fill="outline">Mais informações...</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>7 de outubro de 2014</ion-card-subtitle>
      <ion-card-title>Flash</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/lUFK7ElGCk9kVEryDJHICeNdmd1.jpg">
      <p>
        Barry enfrenta diversos assassinos que invadem a premiação onde ele acompanha Iris, mas os efeitos colaterais de
        seus novos superpoderes representam uma ameaça.
      </p>
      <ion-button expand="block" fill="outline">Mais informações...</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>